.homeHeader {
  font-size: 2rem; /* Задає розмір шрифта */
  font-weight: bold; /* Виділяє текст жирним */
  text-align: center; /* Вирівнює текст по центру */
  color: #4caf50; /* Колір тексту, ви можете змінити на будь-який інший */
  margin-top: 50px; /* Додає відступ зверху */
  padding: 10px; /* Внутрішній відступ */
  background-color: #f0f0f0; /* Фоновий колір, ви можете змінити */
  border-radius: 10px; /* Округляє кути */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легке тіньове ефект */
}
